@{
    ViewBag.Title = "Home Page";
}

<div class="tm-main-content">
    <section class="tm-margin-b-l">
        <header>
            <h2 class="tm-main-title">Welcome to our AudioBook store</h2>
        </header>

        <section class="media tm-highlight tm-highlight-w-icon">

            <div class="tm-highlight-icon">
                <i class="fa tm-fa-6x fa-meetup"></i>
            </div>

            <div class="media-body">
                <header>
                    <h2>Why audiobooks?</h2>
                    <br/>
                    <h4>Now let’s look at how audiobooks fit into Adler’s framework. The first 2 stages (elementary reading, and inspectional reading) are perfect for audiobooks! That is because audiobooks make it easier to:

                        Quickly Skim: It allows you to easily get through books (even speed up at parts, listening at 2x or higher). This helps you see whether a book is worth reading critically in the first place (if you deem a book as worthy, you can choose to actually read it later on or listen again more intently).

                        Understand the Author’s Voice: One of the key areas that Adler recommends to focus on it a book is the author’s voice. That’s perfect for audiobooks since as I mentioned above, they are often read by the author themselves, which not only allows us to literally listen to their voice, but also better understand their context since we can hear the verbal cues and emphasis that an author places on certain concepts.</h4>
                    <p>for additional info check the articles below.</p>
                </header>
                <p class="tm-margin-b"></p>
            </div>
        </section>
        <div class="tm-gallery">
            <div class="row">
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a href="https://www.bbc.com/culture/article/20200104-audiobooks-the-rise-and-rise-of-the-books-you-dont-read">
                        <div class="tm-gallery-item-overlay">
                            <img src= @Url.Content("~/Content/img/image-01.jpg") alt="Image" class="img-fluid tm-img-center">
                        </div>
                        <p class="tm-figcaption">Audiobooks: The rise and rise of the books you don’t read</p>
                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a href="https://www.theguardian.com/books/2019/jul/13/listen-up-rise-of-audiobooks-steven-poole">
                        <div class="tm-gallery-item-overlay">
                            <img src="@Url.Content("~/Content/img/image-02.jpg")" alt="Image" class="img-fluid tm-img-center">
                        </div>
                        <p class="tm-figcaption">Listen up: why we can't get enough of audiobooks</p>
                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a href="https://www.theguardian.com/books/2020/aug/02/a-word-in-your-ear-why-the-rise-of-audiobooks-is-a-story-worth-celebrating">
                        <div class="tm-gallery-item-overlay">
                            <img src="@Url.Content("~/Content/img/image-03.jpg")" alt="Image" class="img-fluid tm-img-center">
                        </div>
                        <p class="tm-figcaption">A word in your ear… why the rise of audiobooks is a story worth celebrating</p>
                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a href="https://www.readingrockets.org/article/benefits-audiobooks-all-readers">
                        <div class="tm-gallery-item-overlay">
                            <img src="@Url.Content("~/Content/img/image-04.jpg")" alt="Image" class="img-fluid tm-img-center">
                        </div>
                        <p class="tm-figcaption">Benefits of Audiobooks for All Readers</p>
                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a href="https://time.com/5388681/audiobooks-reading-books/">
                        <div class="tm-gallery-item-overlay">
                            <img src="@Url.Content("~/Content/img/image-05.jpg")" alt="Image" class="img-fluid tm-img-center">
                        </div>
                        <p class="tm-figcaption">Are Audiobooks As Good For You As Reading? Here’s What Experts Say</p>
                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a href="https://www.authorlearningcenter.com/publishing/formats/w/audiobooks/6327/7-things-to-know-before-creating-an-audiobook---article">
                        <div class="tm-gallery-item-overlay">
                            <img src="@Url.Content("~/Content/img/image-06.jpg")" alt="Image" class="img-fluid tm-img-center">
                        </div>
                        <p class="tm-figcaption">7 Things to Know Before Creating an Audiobook - article</p>
                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a href="https://www.discovermagazine.com/mind/audiobooks-or-reading-to-our-brains-it-doesnt-matter">
                        <div class="tm-gallery-item-overlay">
                            <img src="@Url.Content("~/Content/img/image-07.jpg")" alt="Image" class="img-fluid tm-img-center">
                        </div>
                        <p class="tm-figcaption">Audiobooks or Reading? To Our Brains, It Doesn’t Matter</p>
                    </a>
                </figure>
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <a href="https://www.telegraph.co.uk/science/2019/08/19/end-audiobook-snobbery-scientists-find-hearing-listening-activates/">
                        <div class="tm-gallery-item-overlay">
                            <img src="@Url.Content("~/Content/img/image-08.jpg")" alt="Image" class="img-fluid tm-img-center">
                        </div>
                        <p class="tm-figcaption">End of audiobook snobbery as scientists find reading and listening activates the same parts of the brain</p>
                    </a>
                </figure>
            </div>
        </div>
    </section>

   
</div>



<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/jquery-1.11.3.min.js"></script>